---
title: Pricing
heading: Our subscription model
description: Contact us for more information on our offering.
pricing_table:
  - name: Platform
    color: "#4a4a4a"
    features:
      - text: €950,- per month
        highlight: true
      - text: HyperDev Dashboard
        highlight: false
      - text: Compute Cluster<br/>48GB memory, 12 cores
        highlight: false
      - text: Persisted Storage<br />200GB
        highlight: false
      - text: Secure VPN
        highlight: false
      - text: Development Environment
        highlight: false
      - text: CI/CD Environment
        highlight: false
      - text: 10 users
        highlight: false
    call_to_action:
      link: /contact/
      text: Contact us
  - name: Consultancy
    color: "#4a4a4a"
    features:
      - text: Starting at €2000,- per month
        highlight: true
      - text: Everything from the Platform package
        highlight: false
      - text: Custom integrations with existing systems
        highlight: false
      - text: Consultancy and training
        highlight: false
      - text: Provided by one of our <a href="/partners/">implementation partners</a>
        highlight: false
    call_to_action:
      link: /contact/
      text: Contact us
addon_table:
  - name: 'Extra Cluster Resources'
    color: "#4a4a4a"
    features:
      - text: €280,- per month
        highlight: true
      - text: 16GB memory, 4 cores
        highlight: false
      - text: Extra compute resources for the HyperDev cluster
        highlight: false
  - name: Extra Persisted Storage
    color: "#4a4a4a"
    features:
      - text: €55,- per month
        highlight: true
      - text: 100GB
        highlight: false
      - text: Adds extra storage to the HyperDev cluster
        highlight: false
  - name: Extra Jenkins Build Machine
    color: "#4a4a4a"
    features:
    - text: €115,- per month
      highlight: true
    - text: 4GB memory, 2 cores
      highlight: false
    - text: Dedicated build node for Jenkins
      highlight: false
  - name: Extra Users
    color: "#4a4a4a"
    features:
    - text: €200,- per month
      highlight: true
    - text: Access for 10 extra users
      highlight: false
    - text: 
      highlight: false
faq:
  - question: What is included in the default development environment setup?
    answer: The default CI/CD setup includes the following preconfigured tools; Gitlab, Jenkins, SonarQube, Docker Registry, Example Application with Tests and an Example continuous delivery pipeline.
  - question: Can I buy additional memory or computing power?
    answer: Yes, we offer additional cluster nodes to extend your environment. See above for pricing.
  - question: Can I buy additional storage?
    answer: Yes, we offer additional persisted storage to extend your environment. See above for pricing.
  - question: Can I integrate my existing cloud or on-premise tools/services?
    answer: Yes, we offer consultancy through our <a href="/partners/">implementation partners</a>. Contact us for more information.
  - question: Can I add additional user accounts?
    answer: Yes, the default package includes up to 10 user accounts. Extra users can be added to your environment. See above for pricing.
  - question: Questions?
    answer: Contact us for any further questions at <a href="mailto:info@hyperdev.io?subject=Pricing question">info@hyperdev.io</a>.
---
<div class="plans" style="max-width: 900px; margin-left:auto; margin-right:auto;">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			<!-- {% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %} -->
		</ul>
	{% endfor %}
</div>
<p class="subtext">HyperDev Addons</p>
<div class="plans" style="max-width: 900px; margin-left:auto; margin-right:auto;">
  {% for plan in page.addon_table %}
  <ul class="plan" style="min-width:300px">
    <li style="background: {{ plan.color }}">
      <h3>{{ plan.name }}</h3>
    </li>
    {% for feature in plan.features %}
    <li {% if feature.highlight %} class="highlighted" {% endif %}>{{ feature.text }}</li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>

{% if page.faq %}
<div style="max-width: 900px; margin-left:auto; margin-right:auto;">
	<h2>FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
</div>
{% endif %}

<section class="bottom-cta">
  <h2 class="editable">Contact us for further inquiries!
  </h2>
  <div class="button alt">
    <a href="/contact/">Contact Us</a>
  </div>
</section>
