---
title: Pricing
heading: Our subscription model
description: Contact us for more information on our offering.
pricing_table:
  - name: Platform
    price: €950,- per month
    features:
      - text: HyperDev Dashboard
        description: |
          The HyperDev Dashboard exposes a Graphical User Interface and API for managing application definitions (docker-compose+),
          services (Docker Stacks) and storage (buckets). The dashboard is aimed at software engineers and QA (testing + reporting).
          Therefor it is easy to use and supports all CI/CD preconditions.
      - text: Compute Cluster
        description: |
          The compute cluster is a Docker Swarm. You will get your own cluster of multiple nodes with a total of <strong>48GB memory and 12 processing
          cores</strong>. It is used for running your CI/CD services such as Jenkins, SonarQube, Docker Registry, as well as your own applications.
          It is backed by the Persisted Storage. Because of this setup, it is easy to extend the cluster with extra memory and cores.
          By using smart memory limits, applications can safely run next to each other.
      - text: Dedicated Jenkins Build Server
        description: | 
          In order to build software and make use of Jenkins CI pipelines, it is essential to have a dedicated build
          server. You will get full access to this build server (through SSH) and be able to run any build scenario. The build server
          has <strong>4GB of memory and will run on 2 cores</strong>. The operating system we use is CentOS 7.
      - text: Persisted Storage
        description: |
          The persisted storage will store all data buckets for HyperDev and initially has a <strong>capacity of 200GB</strong>. One can, of course,
          always purchase more. The persisted storage runs NFS on LVM so it is easy to scale-up the storage without any downtime. In
          order to keep control over the data created through the CI/CD pipelines, the platform will periodically run cleanup scripts.
      - text: Secure VPN
        description: |
          Security is an essential part of any platform. That is why we configure and run an <strong>OpenVPN server</strong> to allow you to connect
          to services running on HyperDev. Users can run an OpenVPN client to connect and make sure your data remains safe.
      - text: Development Environment
        description: |
          The development environment consists of the HyperDev Dashboard and the Compute Cluster. Together they create what we like
          to call a 'Continuous destroyment' setup. This allows users to create new instances of different versions of the application
          you are developing as throw-aways. It's as easy as start (an instance) -> check (run tests against it) -> stop (free up resources).
          No more dedicated Development or Test environments with miss-matching configurations and expensive IT-experts necessary.
          Leverage the potential of containerization in your development process!
      - text: CI/CD Environment
        description: |
          In order to actually have proper CI/CD pipelines, you need the right tools. All the tools you'd need to run our example
          application and setup will be provided to you - no more struggling for weeks until everything is connected! Start delivering
          customer value from day one!
      - text: Backup
        description: |
          All data in the persisted storage is backed up <strong>every 4 hours</strong> for at least 2 days and there is a weekly backup available for
          up to 5 weeks. Data can be recovered at your request.
      - text: User Accounts
        description: |
          You will get access to the platform (VPN and LDAP accounts) for <strong>up to 10 users</strong>. You have a big project and need more users?
          No worries, more user accounts can be purchased at any time.
      - text: Technical support
        description: |
          The HyperDev team is ready to help you with technical issues. We have a service desk that is available during office hours
          <strong>(8:00 - 20:00)</strong> for platform related questions and incidents.

    call_to_action:
      link: /contact/
      text: Contact us
  - name: Consultancy
    price: Starting at €2000,- per month
    features:
      - text: The Platform package
        description: Of course everything from the platform package is included. You just pay the regular base price with added consultancy hours.
      - text: Custom integrations
        description: Together with our consultants we help you to integrate existing systems with HyperDev. Both on-premise and cloud services can easily be integrated.
      - text: Consultancy and support
        description: Our consultants help you setup, configure and integrate HyperDev in your company. They provide first line support.
      - text: Training
        description: Our consultants are available to provide you with expert trainings regarding our platform or DevOps practices in general.
      - text: Provided by our partners
        description: The consultancy package is currently provided by our <a href="/partners/">implementation partners</a>.
    call_to_action:
      link: /contact/
      text: Contact us
addon_table:
  - name: 'Extra Cluster Resources'
    color: "#4a4a4a"
    features:
      - text: €280,- per month
        highlight: true
      - text: 16GB memory, 4 cores
        highlight: false
      - text: Extra compute resources for the HyperDev cluster
        highlight: false
  - name: Extra Persisted Storage
    color: "#4a4a4a"
    features:
      - text: €55,- per month
        highlight: true
      - text: 100GB
        highlight: false
      - text: Adds extra storage to the HyperDev cluster
        highlight: false
  - name: Extra Jenkins Build Machine
    color: "#4a4a4a"
    features:
    - text: €115,- per month
      highlight: true
    - text: 4GB memory, 2 cores
      highlight: false
    - text: Dedicated build node for Jenkins
      highlight: false
  - name: Extra Users
    color: "#4a4a4a"
    features:
    - text: €200,- per month
      highlight: true
    - text: Access for 10 extra users
      highlight: false
    - text: 
      highlight: false
faq:
  - question: What is included in the default development environment setup?
    answer: The default CI/CD setup includes the following preconfigured tools; Gitlab, Jenkins, SonarQube, Docker Registry, Example Application with Tests and an Example continuous delivery pipeline.
  - question: Can I buy additional memory or computing power?
    answer: Yes, we offer additional cluster nodes to extend your environment. See above for pricing.
  - question: Can I buy additional storage?
    answer: Yes, we offer additional persisted storage to extend your environment. See above for pricing.
  - question: Can I integrate my existing cloud or on-premise tools/services?
    answer: Yes, we offer consultancy through our <a href="/partners/">implementation partners</a>. Contact us for more information.
  - question: Can I add additional user accounts?
    answer: Yes, the default package includes up to 10 user accounts. Extra users can be added to your environment. See above for pricing.
  - question: Questions?
    answer: Contact us for any further questions at <a href="mailto:info@hyperdev.io?subject=Pricing question">info@hyperdev.io</a>.
---
<div class="plans" style="max-width: 900px; margin-left:auto; margin-right:auto;">
  {% for plan in page.pricing_table %}
    <div class="plan">
      <ul class="plan" style="margin: 0px;">
        <li style="background: #003A61;">
          <h3>{{ plan.name }}</h3>
        </li>
      </ul> 
      <h3 style="padding:10px;">{{ plan.price }}</h3>
      {% for feature in plan.features %}
      <section class="price-cards card">
        <article>
          <h1 data-accordion-element-trigger>{{ feature.text }}</h1>
          <div data-accordion-element-content class="content">
            <p>{{ feature.description }}</p>
          </div>
        </article>
      </section>
      {% endfor %}
    </div>
  {% endfor %}
	
</div>
<p class="subtext">HyperDev Addons</p>
<div class="plans" style="max-width: 900px; margin-left:auto; margin-right:auto;">
  {% for plan in page.addon_table %}
  <ul class="plan" style="min-width:300px">
    <li style="background: #003A61;">
      <h3>{{ plan.name }}</h3>
    </li>
    {% for feature in plan.features %}
    <li {% if feature.highlight %} class="highlighted tooltip" {% else %} class="tooltip" {% endif %}>{{ feature.text }}</li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>

{% if page.faq %}
<div style="max-width: 900px; margin-left:auto; margin-right:auto;">
	<h2>FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
</div>
{% endif %}

<section class="bottom-cta">
  <h2 class="editable">Contact us for further inquiries!
  </h2>
  <div class="button alt">
    <a href="/contact/">Contact Us</a>
  </div>
</section>
