<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">
	{% seo %}
	{% feed_meta %}
	<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="fc721670-3268-4379-a7cd-5935aaa766ed" type="text/javascript" async></script>
	{% if site.google_analytics_key != '' %}
		<script type="text/plain" data-cookieconsent="statistics">
			(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,"script","//www.google-analytics.com/analytics.js","ga");

			ga("create", "{{ site.google_analytics_key }}", "auto");
			ga("send", "pageview");
		</script>
	{% endif %}
</head>
	<body>
		
		<header>
			<div class="container">
				<div class="company-name"><a href="{{ site.baseurl }}/"><img style="width:200px" src="{{ site.baseurl }}/images/logo.png" alt="HyperDev Logo" /></a></div>
				{% include navigation.html %}
			</div>
		</header>
		{{ content }}
		<footer>
			<div class="container">
				<p class="editor-link"><a href="cloudcannon:collections/_data/footer.yml" class="btn"><strong>&#9998;</strong> Edit footer</a></p>
				<div class="footer-columns">
					{% for column in site.data.footer %}
					<ul class="footer-links">
						{% for link in column.links %}
							<li><a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon }}-icon"{% endif %}>
								{% if link.social_icon %}
									{% include social-icon.html icon=link.social_icon %}
								{% endif %}
								{{ link.name }}</a></li>
						{% endfor %}
					</ul>
					{% endfor %}
				</div>
				<p class="copyright">&copy; {{ site.time | date: '%Y' }} HyperDev B.V. • <a href="/">Home</a></p>
				<!-- <a href="#">Terms</a> &amp; <a href="#">Privacy</a> •  -->
			</div>
		</footer>
		<script>
			document.getElementById("open-nav").onclick = function () {
				document.body.classList.toggle("nav-open");
				return false;
			};
			


			/**
	>>>>>>>
	
	Wanna include in your project?
	
	More documentation on github:
	
	https://github.com/cant89/gianni-accordion-js
	
	>>>>>>>
	**/

				var gianniAccordion = (function () {
					return class {

						transitionendEventName() {
							var i,
								el = document.createElement('div'),
								transitions = {
									'transition': 'transitionend',
									'OTransition': 'otransitionend',
									'MozTransition': 'transitionend',
									'WebkitTransition': 'webkitTransitionEnd'
								};

							for (i in transitions) {
								if (transitions.hasOwnProperty(i) && el.style[i] !== undefined) {
									return transitions[i];
								}
							}
						}

						expand(el) {
							function resetHeight(ev) {
								if (ev.target != el.content) return
								el.content.removeEventListener(this.transitionendevent, bindEvent);

								if (!el.isOpen) return

								requestAnimationFrame(() => {
									el.content.style.transition = '0';
									el.content.style.height = 'auto';

									requestAnimationFrame(() => {
										el.content.style.height = null;
										el.content.style.transition = null;

										this.fire("elementOpened", el);
									});
								});
							}

							var bindEvent = resetHeight.bind(this);
							el.content.addEventListener(this.transitionendevent, bindEvent);

							el.isOpen = true;
							el.content.style.height = el.content.scrollHeight + "px";
						}

						collapse(el) {

							function endTransition(ev) {
								if (ev.target != el.content) return
								el.content.removeEventListener(this.transitionendevent, bindEvent);

								if (el.isOpen) return

								this.fire("elementClosed", el);
							}

							var bindEvent = endTransition.bind(this);
							el.content.addEventListener(this.transitionendevent, bindEvent);

							el.isOpen = false;

							requestAnimationFrame(() => {
								el.content.style.transition = '0';
								el.content.style.height = el.content.scrollHeight + "px";

								requestAnimationFrame(() => {
									el.content.style.transition = null;
									el.content.style.height = 0;
								});
							});
						}

						open(el) {
							el.selected = true;
							this.fire("elementSelected", el);
							this.expand(el);
							el.wrapper.classList.add(this.selectedClass);
						}

						close(el) {
							el.selected = false;
							this.fire("elementUnselected", el);
							this.collapse(el);
							el.wrapper.classList.remove(this.selectedClass);
						}

						toggle(el) {
							if (el.selected) {
								this.close(el);
							} else {
								this.open(el);

								if (this.oneAtATime) {
									this.els.filter(e => e != el && e.selected).forEach(e => {
										this.close(e);
									});
								}
							}
						}

						attachEvents() {
							this.els.forEach((el, i) => {
								el.trigger.addEventListener("click", this.toggle.bind(this, el));
							});
						}

						setDefaultData() {
							this.els = [];
							this.events = {
								'elementSelected': [],
								'elementOpened': [],
								'elementUnselected': [],
								'elementClosed': []
							};
							this.transitionendevent = this.transitionendEventName();
							this.oneAtATime = true;
							this.selectedClass = "selected";
							this.trigger = "[data-accordion-element-trigger]";
							this.content = "[data-accordion-element-content]";
						}

						setCustomData(data) {
							var keys = Object.keys(data);

							for (var i = 0; i < keys.length; i++) {
								this[keys[i]] = data[keys[i]];
							}
						}

						fire(eventName, el) {
							var callbacks = this.events[eventName];
							for (var i = 0; i < callbacks.length; i++) {
								callbacks[i](el)
							}
						}

						on(eventName, cb) {
							if (!this.events[eventName]) return
							this.events[eventName].push(cb);
						}

						constructor(data) {
							this.setDefaultData();
							this.setCustomData(data); // ES6 => Object.assign(this, data)

							[].forEach.call(document.querySelectorAll(this.elements), (el, i) => {
								this.els.push({
									wrapper: el,
									trigger: el.querySelector(this.trigger),
									content: el.querySelector(this.content)
								});

								this.els[i].content.style.height = 0;
							});

							this.attachEvents();
						}

					}
				})();

				var myAccordion = new gianniAccordion({
					elements: ".card article"
				});

				myAccordion.on("elementSelected", (data) => {
					console.log("elementOpened", data);
				});
		</script>	
	</body>
</html>
